@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

* {
    margin: 0;
    padding: 0;
    background: #2F303A;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    background-color: #252936;
}

body {
    color: #ffffff;
    line-height: 1.7em;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    color: inherit;
    text-decoration: none;
}

.brand-logo-name {
    margin-left: 1rem;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
    transition: 0.5s;
}

.main-nav a:hover {
    color: #adadad;
}

.main-header {
    display: flex;
    gap: 500px;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    gap: 130px;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
}
.listitem{
    display: flex;
    gap: 20px;
    color: inherit;
    text-decoration: none;
    list-style-type: none;
    transition: 0.5s;
}
.listitem li a{
    transition: 0.5s;
    text-decoration: none;
}
.listitem li a:hover {
    text-decoration: underline;
    color: #c2c2c2;
}
.headerbtn{
    color: #ffffff;
    background-color: #1762A7;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
}
.imgAndText{
    display: block;
    align-items: center;
    justify-content: center;
}
.img-wrapper{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
}
.human-person {
    position: absolute;
    bottom: -10px;
    background-image: url(../image/landing-page-girl.png);
    /* flex-grow: 1; */
    width: 100%;
    height: 60vh;
    /* max-height: 70vh;
    min-width: 30vw; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom ;
}
.textAndBtn{
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.title {
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 1rem;
    line-height: 1em;
}

.subtitle {
    background-color: #252936;
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;
}

.btn {
    color: #ffffff;
    background-color: #34b929;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
}

.home-main-circle-1 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: rgb(188, 58, 128, .1);
    bottom: 5vw;
    left: 5vw;
    z-index: 8;
}

.home-main-circle-2 {
    position: absolute;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: rgba(26, 147, 199, 0.1);
    top: 10vw;
    left: 40vw;
    z-index: 1;
}
.home-main-circle-3 {
    overflow: hidden;
    position: absolute;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: rgba(52, 178, 157, 0.1);
    bottom: 20;
    right: 50px;
    z-index: 1;
}
.home-main-circle-4 {
    position: absolute;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: rgba(110, 45, 80, 0.1);
    bottom: 20vw;
    left: 5vw;
    z-index: 8;
}